# Ignore build output folders
[Bb]in/
[Oo]bj/

# Ignore Visual Studio temporary files, build results, and
# folder-based project configuration
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore .NET Core and .NET Standard project artifacts
project.lock.json
project.fragment.lock.json
artifacts/

# Ignore NuGet Packages
*.nupkg
*.snupkg

# Ignore JetBrains Rider files
.idea/

# Ignore xml
*.xml# 

Ignore xlsx
*.xlsx

# Ignore solution file
*.sln


# Ignore temporary files
*.tmp
*.temp

# Ignore logs
*.log

# Ignore csv files
*.csv

# Ignore Recycle Bin used by VSCode.
.vscode/
.history/

# Ignore dll, pdb, cache files
*.dll
*.pdb
.cache/

# Ignore all other hidden files and directories (optional)
.*

# Do not ignore configuration files
!appsettings.json
!appsettings.Development.json
!appsettings.Production.json
!launchSettings.json
!nuget.config
!global.json
!*.csproj
!*.sln
!README.md
!LICENSE
!Dockerfile
!.editorconfig
